$primary-soft-blue: #8bacda;
$primary-cyan: #00fff7;

$neutral-dark-blue-bg: #0d192b;
$neutral-dark-gray-card: #14253d;
$neutral-dark-blue-line: #2f415b;
$white: #fff;

$font-size-title: 2.5rem;
$font-size-base: 1.8rem;

$font-family: 'Outfit', sans-serif;;
$weight-light: 300;
$weight-regular: 400;
$weight-semiBold: 600;